<h1>Zaimメニュー</h1>
<p>月ごとの支出集計</p>
<ul>
  <li><a href="/monthly">累計</a></li>
  <li><a href="/monthly?category=食費">食費</a></li>
  <li><a href="/monthly?genre=電気料金">電気代</a></li>
  <li><a href="/monthly?genre=ガス料金">ガス代</a></li>
  <li><a href="/monthly?genre=水道料金">水道代</a></li>
</ul>
