<nav class="nav has_shadow">
  <div class="container">まいざいむ</div>
</nav>

<div class="tile">
  <div class="tile is-4"><%= erb :sidemenu %></div>
  <div class="tile is-8"><%= erb :content %></div>
</div>
