<h1>月別集計 <%= @target %></h1>
<table border="1">
  <thead>
    <th>年月</th>
    <th>出費</th>
  </thead>
  <tbody>
    <% @monthly.each do |date , spending| %>
    <tr>
      <td><%= date %></td>
      <td style="text-align: right"><%= to_kanji spending %></td>
    </tr>
    <% end %>
    <tr>
      <td>合計</td>
      <td style="text-align: right"><%= to_kanji @sum %></td>
    </tr>
  </tbody>
</table>
