<aside class="menu">

  <p class="menu-label">月別集計</p>
  <ul class="menu-list">
    <li><a>累計</a></li>
    <li><a>食費</a></li>
    <li><a>電気代</a></li>
    <li><a>ガス代</a></li>
    <li><a>水道代</a></li>
    <li><a>デグー関連</a></li>
    <li><a>ポケモンGO</a></li>
  </ul>

  <p class="menu-label">ランキング</p>
  <ul class="menu-list">
    <li><a>カテゴリ</a></li>
    <li><a>ジャンル</a></li>
    <li><a>支払先</a></li>
  </ul>
</aside>
